<% include partials/header.ejs %>

<div class="ui container">
  <div class="ui huge message page">
    <h1 class="ui header huge">Results Page</h1>
    <p>Your results! Feel free to perform another search for your favorite Penguin Random House books.</p>
    <a class="ui button orange"  tabindex="0" href="/">Search Again ></a>
  </div>
</div>

<% jsData.works.work.forEach(function(book) { %>
<% var isbn = book["titles"][0]["isbn"][0]["_"]; %>

<div class="ui container">
  <div class="ui container segment grid">

  <div class="row">
    <div class="four wide column">
      <img src='https://reststop.randomhouse.com/resources/titles/<%= isbn %>'>
    </div>
    
    
    <div class="four wide column">
      <h2><span class="title"><%= book["titleweb"] %></span></h2> 
      <p>by <span class="author" id="title-case"><%= book["authorweb"] %></span></p>
      <p><span class="series"><%= book["series"] %></span></p>
      
      <form action="/books" method="GET">
        <button href="/books/title?=<%= book["titleweb"] %>" class="ui button tiny orange inverted">More Info ></button>
      </form>
    </div>
    
    </div>
    
  </div>
</div>
<% }); %>
