<% include partials/header.ejs %>

<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
      <div class="item">
        <div class="image">
          <img  class="centered rounded image ui" src="<%= blog.image %>">
        </div>
        <div class="meta">
          <span><%= blog.created.toDateString() %></span>
        </div>
        <div class="description">
          <p><%- blog.body %></p>
        </div>
      </div>
      <a href="/blogs/<%= blog._id %>/edit">
        <button class="ui green basic button"><i class="edit icon"></i>Edit</button>
      </a>
      <form class="inline" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button"><i class="delete icon"></i>Delete</button>
      </form>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>